@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@300;400&display=swap');

// vars fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Titillium Web', sans-serif;
$treFont: 'Lato', sans-serif;
$fourFont: 'Raleway', sans-serif;
$fiveFont: 'Anek Latin', sans-serif;


// sizes
$textSize:2rem;
$textSecon:3rem;
$textAlt:2em;
$textP:1.5em;

$textCen: center;