// extends

.btnMore{
	width: 100px;
	height: 50px;
	border:none;
	background: linear-gradient(to bottom, violet);
	display: flex;
	justify-content: center;
	align-items:center;
	&:hover{
		background-color: violet;
		cursor: pointer;

	}
}

.btnRounded{
	@extend .btnMore;
	border-radius: 4px;
}

@mixin texto($size,$line-height,$color){
	font-size: $size;
	line-height: $line-height;
	color: $color;
}

h5{
	@include texto($textP,3.5rem,$keyColor)
}

// maps 

$colores:(
    'uno': rgba(238, 188, 247, .5),
    'dos': #83069E,
    'tres':#D871F3,
    'cuatro': #B48DB1,
    'cinco': #E0D7DD,
    'seis': #F6D0D0,
    'siete': #F68CF7,
	);

.bgColor{
   background-color: map-get($map:$colores, $key:'cinco');
}