.sectionMod{
	padding: 10px;
	article{
		width: 100%;
		height: auto;
		margin: 100px auto;
		padding: 20px 40px;
		border: solid $mainColor;
		text-align: center;
		background-color: $treColor;
	h1{
		font-family: $treFont;
		font-size: $textAlt;
		line-height: 2rem;
		font-weight: 800;
		color:$secondaryColor;
	}
	p{
		font-family: $mainFont;
		font-size: $textP;
	}
	h2{
		font-family: $treFont;
		font-size: $textAlt;
		line-height: 2rem;
		font-weight: 800;
		color: $secondaryColor;
	}
	}
}



.pie{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
     padding: 20px;
}


.cenTex{
	font-size: 1em;
	text-align: $textCen;
	font-family: $fourFont;
	font-weight: 500;
}

.zonEnv{
	padding: 30px 50px;
	border: solid rgba(238, 188, 247, .5) 
}