.acordionMod{
	font-family: $secondaryFont;
	font-size: 1em;
}

.respAcor{
	font-size: 1em;
	font-family: $secondaryFont;

}

.colorPre{
	background-color: #E0D7DD;
}

.btnCol{
	background-color: $keyColor;
}