<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Nuestra historia como empresa y todo lo que tenes que saber sobre nosotros.">

	<title> Nuestra empresa </title>
	<link rel="shortcout icon" href="../img/favicon.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bgColor navBarbos navUL">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
    <img src="../img/logo.webp" alt="logo del proyecto Congelados Marcela"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="views/productos.html"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/productos.html">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../views/preguntas frecuentes.html" aria-current="page">Preguntas frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/envios.html">Envios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- carrusel -->
	<header>
		<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/1-min.jpg" class="d-block w-100" alt="mix de frutos rojos dentro de un recipiente y algunos mas por fuera">
    </div>
    <div class="carousel-item">
      <img src="../img/FRUTOS-ROJOS-2-min.jpg" class="d-block w-100" alt="mix frutos rojos con frutilla">
    </div>
    <div class="carousel-item">
      <img src="../img/nosot1-min.jpg" class="d-block w-100" alt="frutos congelados sueltos">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
	</header>
	<!-- carrusel --> 
	<main>
		<section class="sectionMod">
			<article class="textDestacado textCenter novedadesArticulo">
				<h1>¿Quienes somos?</h1>
				<br>
				<p>Somos una empresa familiar dedicada a la venta de frutos y verduras congeladas.
				<br> Los productos vienen con un proceso de congelamiento previo (IQF), ya cortados y lavados, listos para usar.
				<br> 
				Todos los congelados los podrás usar para preparar tus comidas, acompañar tus postres o darles el uso que desees.
				</p>
			</article>
			<article class="textCenter textDestacado novedadesArticulo">
				<h2>Nuestra empresa</h2>
				<br>
				<p>Nos dedicamos a este rubro desde hace 5 años y estamos creciendo dia a dia gracias a nuestros clientes que nos acompañan y nos siguen eligiendo por la calidad de nuestros productos.
					
				</p>
			</article>
		</section>
	</main>
	<footer class="pie">
		<h3>Seguinos en nuestras redes</h3>
	 	<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="logo de facebook" class="fbImg">

<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.jpg" alt="logo de instagram" class="fbImg">
			</a>
			<a href="https://www.twitter.com/" target="_blank">
				<img src="../img/twitter.png" alt="logo de twitter"
				class="fbImg">
			</a>
	 </footer>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	 	 </body>