<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Algunas preguntas frecuentes de nuestros clientes, aqui las contestamos">


	<title> Preguntas Frecuentes </title>
	<link rel="shortcout icon" href="../img/favicon.png">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <link rel="stylesheet" href="../css/style.css">
</head>
<body class="contenedor">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
	<nav class="navbar navbar-expand-lg navbar-light bgColor navUL">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
    <img src="../img/logo.webp" alt="logo del proyecto Congelados Marcela"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="views/productos.html"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/productos.html">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../views/preguntas frecuentes.html" aria-current="page">Preguntas frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/envios.html">Envios</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
	<header id="header">
		<h1>Preguntas Frecuentes</h1>
		<img src="../img/producto2-min.jpeg" alt="Moras congeladas dentro de un recipiente" class="imgPreg">
	</header>

	<!-- inicia accordion -->
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item acordionMod">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed bgColor acordionMod " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        ¿Realizan envios?
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body respAcor"><strong>Si, realizamos envios.</strong> En nuestra seccion envios podras ver las zonas a las que llegamos.</div>
    </div>
  </div>
  <div class="accordion-item acordionMod">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed bgColor acordionMod" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        ¿Cual es la presentacion de los productos?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body respAcor">Vienen en bolsa de 1kg o 0.5kg</div>
    </div>
  </div>
  <div class="accordion-item acordionMod">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed bgColor acordionMod" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        ¿Cuales son las formas de pago?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body respAcor">Las formas de pago son en efectivo, tarjeta de debito, tarjeta de credito, transferencia bancaria o mercado pago.</div>
    </div>
  </div>
  <div class="accordion-item acordionMod">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed bgColor acordionMod" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        ¿La entrega es solo mediante envios?
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body respAcor">No, sino llegamos hasta tu zona podes pasar a buscarlo por nuestro local.</div>
    </div>
  </div>
  <div class="accordion-item acordionMod">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed bgColor acordionMod" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        ¿Cuanto tiempo duran los productos?
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body respAcor">Todos nuestros productos congelados duran 2 años en el freezer gracias al metodo de congelaciion IQF.</div>
    </div>
  </div>
  <div class="accordion-item acordionMod">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed bgColor acordionMod" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        ¿Que dias trabajan?
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body respAcor">Trabajamos de lunes a viernes.</div>
    </div>
  </div>
</div>
<!-- fin accordion -->
	
     <footer class="pie" id="footer">
     	<h2>Seguinos en nuestras redes</h2>
	 	<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="logo de facebook" class="fbImg">
			<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.jpg" alt="logo de instagram" class="fbImg">
			</a>
			<a href="https://www.twitter.com/" target="_blank">
				<img src="../img/twitter.png" alt="logo de twitter"
				class="fbImg">
			</a>
	 </footer>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	 </body>