<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Congelados Marcela </title>
	<link rel="shortcout icon" href="../img/favicon.png">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body >
	
	<nav class="navbar navbar-expand-lg navbar-light bgColor navBarbos navUL">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
    <img src="../img/logo.webp" alt="logocongelados">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="views/productos.html"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/productos.html">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../index.html#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="../views/preguntas frecuentes.html" aria-current="page">Preguntas frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/envios.html">Envios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
		<!-- inicia card -->
<main>
	<section class="py-3">
		<div class="container-fluid">
			<h4>Nuestros productos</h4>
			<div class="row">
				<article class="col-sm-12 col-md-6 col-lg-3 ">
					<img src="../img/arandanos.png" alt="arandanos" class="w-100 img-thumbnail">
					<h5>Arandanos</h5>
					<p>Nuestros ricos arandanos IQF a $800</p>
				</article>
				<!-- prodc 1 -->
				<article class="col-sm-12 col-md-6 col-lg-3 ">
					<img src="../img/frutillas.png" alt="arandanos" class="w-100 img-thumbnail">
					<h5>Frutillas</h5>
					<p>La frutilla, lo mas noble para nuestro freezer $800</p>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 ">
					<img src="../img/moras.png" alt="arandanos" class="w-100 img-thumbnail">
					<h5>Moras</h5>
					<p>La fuente de glucosa saludable a $1100</p>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 ">
					<img src="../img/franui.png" alt="arandanos" class="w-100 img-thumbnail">
					<h5>Frambuesas c/ chocolate</h5>
					<p>Frambuesas bañadas en chocolate negro o blanco $1000</p>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 ">
					<img src="../img/frambuesas.png" alt="arandanos" class="w-100 img-thumbnail">
					<h5>Frambuesas</h5>
					<p>Nuestras ricas frambuesas a $800</p>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 ">
					<img src="../img/producto3.jpeg" alt="arandanos" class="w-100 img-thumbnail">
					<h5>Maracuya</h5>
					<p>Maracuya con semillas en cubo $900</p>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 ">
					<img src="../img/sinfrutilla.jpeg" alt="arandanos" class="w-100 img-thumbnail">
					<h5>Mix sin frutilla</h5>
					<p>Contiene: frambuesas, moras y arandanos $1000</p>
				</article>

				<article class="col-sm-12 col-md-6 col-lg-3 ">
					<img src="../img/confrutilla.jpeg" alt="arandanos" class="w-100 img-thumbnail">
					<h5>Mix con frutilla</h5>
					<p>Contiene: frambuesas, moras, arandanos y frutillas $1200</p>
				</article>
			</div>
		</div>
	</section>
</main>
		<!-- fin card -->
	 <footer class="pie" id="footer">
	 	<h2>Seguinos en nuestras redes</h2>
	 	<a href="https://www.facebook.com/" target="_blank">
			<img src="../img/facebook.png" alt="face" class="fbImg">
			<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.jpg" alt="Insta" class="fbImg">
			</a>
			<a href="https://www.twitter.com/" target="_blank">
				<img src="../img/twitter.png" alt="Twitter"
				class="fbImg">
			</a>
	 </footer>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
<html>